In [80]:
from jyquickhelper import add_notebook_menu
add_notebook_menu(first_level=1, last_level=4, header="<font color='blus'>Lesson 2 - 13.09.2022</font>")

# 1. Functions

In [81]:
def add_one(x: float) -> float:
    '''This function increments by 1'''
    return x+1

In [82]:
add_one(1)

2

In [83]:
add_one(5.4)

6.4

In [84]:
help(add_one)

Help on function add_one in module __main__:

add_one(x: float) -> float
    This function increments by 1

## 1.1 Functions as arguments (unclear)

In [85]:
import typing
from typing import Callable
from typing import Any

def apply_one_func_arg(func: Callable) -> Any: #put any when we don't know the type returned
    return add_one(func(2))

In [86]:
def func_as_arg(x: float) -> float:
    return 2*x

In [87]:
apply_one_func_arg(func_as_arg)

5

In [88]:
func_as_arg(2)

4

In [89]:
apply_one_func_arg(func_as_arg)

5

## 1.2 Arguments with default value

In [90]:
def affine1(x: float) -> float:
    return 2*x+3

In [91]:
affine1(3.8)

10.6

In [92]:
def affine2(x: float, alfa: float = 2., beta: float = 3.) -> float: #alfa and beta have default values
    return alfa*x+beta

In [93]:
affine2(1)

5.0

In [94]:
affine2(3, alfa=-1)

0.0

In [95]:
affine2(3, -1, 4)

1

## 1.3 Lambda function

It is possible to define functions without giving them a name

In [96]:
def apply_one(func: 'function') -> 'function':
    return add_one(func(2))

In [97]:
y = lambda x: 2*x
add_one(y(2))

5

In [98]:
apply_one(lambda x: 2*x)

5

In [99]:
f = lambda x:2*x #f is a variable that contains what?
apply_one(f)

5

# 2. Modules

In [100]:
import math

In [101]:
dir(math)

['__doc__',
 '__loader__',
 '__name__',
 '__package__',
 '__spec__',
 'acos',
 'acosh',
 'asin',
 'asinh',
 'atan',
 'atan2',
 'atanh',
 'ceil',
 'comb',
 'copysign',
 'cos',
 'cosh',
 'degrees',
 'dist',
 'e',
 'erf',
 'erfc',
 'exp',
 'expm1',
 'fabs',
 'factorial',
 'floor',
 'fmod',
 'frexp',
 'fsum',
 'gamma',
 'gcd',
 'hypot',
 'inf',
 'isclose',
 'isfinite',
 'isinf',
 'isnan',
 'isqrt',
 'lcm',
 'ldexp',
 'lgamma',
 'log',
 'log10',
 'log1p',
 'log2',
 'modf',
 'nan',
 'nextafter',
 'perm',
 'pi',
 'pow',
 'prod',
 'radians',
 'remainder',
 'sin',
 'sinh',
 'sqrt',
 'tan',
 'tanh',
 'tau',
 'trunc',
 'ulp']

In [102]:
math.remainder(66, 99)

-33.0

In [103]:
math.pi

3.141592653589793

In [104]:
help(math.isfinite)

Help on built-in function isfinite in module math:

isfinite(x, /)
    Return True if x is neither an infinity nor a NaN, and False otherwise.

In [105]:
alfa = 3*math.pi/4

1 == math.cos(alfa)**2 + math.sin(alfa)**2

True

# 3. Complex types

These types are widely used in data manipulation for datascience purpose

## 3.1 Strings

In [106]:
mystr = 'Hi'
print(mystr)
print(len(mystr))

Hi
2

## 3.2 Lists

In [107]:
list_l = [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [108]:
list_l[:]

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [109]:
list_l[::2]

[0, 2, 4, 6, 8]

In [110]:
list_l[::-1]

[9, 8, 7, 6, 5, 4, 3, 2, 1, 0]

In [111]:
list_l[::-2]

[9, 7, 5, 3, 1]

In [112]:
3 in list_l

True

In [113]:
list_2 = [10, 11, 12]
i, j, k = list_2

In [114]:
i, k, j

(10, 12, 11)

### 3.2.1 Comprehension of list

In [115]:
list_3 = [i for i in range(0, 16, 3)] #from 0 to 16, 3 steps
list_3

[0, 3, 6, 9, 12, 15]

In [116]:
list_4 = [i**2 for i in list_3]
list_4

[0, 9, 36, 81, 144, 225]

## 3.3 Tuples

In [117]:
t_1 = (1, 2, 3) #its values cannot change, unlike strings
type(t_1)

tuple

In [118]:
def affineTuple(x: float) -> tuple:
    return x, 2*x+3 #it returns a tuple of values, not two values

In [119]:
affineTuple(2)

(2, 7)

In [120]:
affineTuple(2)[0]

2

## 3.5 Dictionaries

In [121]:
dict_1 = {}
dict_1['nom'] = 'Cosenza'
dict_1['prenom'] = 'Paolo'

In [122]:
print(dict_1)
print(dict_1.keys())
print(dict_1.values())

{'nom': 'Cosenza', 'prenom': 'Paolo'}
dict_keys(['nom', 'prenom'])
dict_values(['Cosenza', 'Paolo'])

In [123]:
dict_1['nom']

'Cosenza'

In [124]:
'prenom' in dict_1.keys()

True

In [125]:
for key, value in dict_1.items():
    print('Key: {}, value: {}'.format(key, value))

Key: nom, value: Cosenza
Key: prenom, value: Paolo

In [126]:
dict_1.get('nom', 'not there')

'Cosenza'

In [127]:
dict_1.get('Paolo', 'not there')

'not there'

### 3.5.1 Defaultdict type (unclear)

### 3.5.2 Counter type

In [128]:
from collections import Counter # maps a key to an occurence
sentence = "Il était une fois dans l'ouest"
counter_characters = Counter(sentence.lower())
print(counter_characters)

Counter({' ': 5, 'i': 3, 't': 3, 's': 3, 'l': 2, 'a': 2, 'u': 2, 'n': 2, 'e': 2, 'o': 2, 'é': 1, 'f': 1, 'd': 1, "'": 1})

In [129]:
counter_characters.pop(' ')
print(counter_characters)

Counter({'i': 3, 't': 3, 's': 3, 'l': 2, 'a': 2, 'u': 2, 'n': 2, 'e': 2, 'o': 2, 'é': 1, 'f': 1, 'd': 1, "'": 1})

## 3.6 Set

In [130]:
set_1 = set() # doesn't allow duplicates

In [131]:
set_1.add(0)
set_1.add(1)
set_1.add(2)
set_1.add(2)
print(set_1)

{0, 1, 2}

In [132]:
list(set_1)
type(set_1)

set

In [133]:
list_1 = list(set_1) # but we can turn it into a list
list_1.append(2)
print(list_1)

[0, 1, 2, 2]

In [134]:
set(list_1)

{0, 1, 2}

In [135]:
set_2 = {0, 1, 2, 3, 4, 5}
set_1.intersection(set_2)

{0, 1, 2}

In [136]:
set_1.union(set_2)

{0, 1, 2, 3, 4, 5}

# 4. Try and except

In [137]:
try:
    t_1[1] = 4
except TypeError as typeError:
    print('Changing value in a tuple triggered exception: {}'.format(typeError)) #{} is a placeholder for .format(typeError)

Changing value in a tuple triggered exception: 'tuple' object does not support item assignment

# 5. Program control flow

In [138]:
x = 4
is_even = True if x%2 == 0 else False
print(is_even)

True

# 6. Booleans, any and all (unclear)

In [139]:
list_bool = [True, 1, {3}]
print(all(list_bool))

list_bool = [False, 1, {3}]
print(all(list_bool))

list_bool = [False, [], {3}, None]
print(any(list_bool))

list_bool = [False, list(), dict(), None, set()]
print(any(list_bool)) #false because there is no item in the

True
False
True
False

# 7. Annotations (unclear)

In [140]:
import typing
def hello(message:str, count:int) -> str: #now the code is more restrictive
    hello_message = "Hello {} with number {}".format(message, count)
    return hello_message

In [141]:
return_msg = hello('Paolo', 2)
print(return_msg)

Hello Paolo with number 2

# 8. Assert

In [142]:
try :
    assert(1==2), "i should be equal to 1"
except AssertionError as assertionError:
    print(assertionError)

i should be equal to 1

In [143]:
def smallest_item(list_item: list) -> Any:
    return sorted(list_item)[0]

In [144]:
list_ = [i for i in range (-5, 5, 1)]
print(list_)

[-5, -4, -3, -2, -1, 0, 1, 2, 3, 4]

In [145]:
list_ = [ch for ch in sentence]
print(list_)

['I', 'l', ' ', 'é', 't', 'a', 'i', 't', ' ', 'u', 'n', 'e', ' ', 'f', 'o', 'i', 's', ' ', 'd', 'a', 'n', 's', ' ', 'l', "'", 'o', 'u', 'e', 's', 't']

In [146]:
smallest_item(list_)

' '

> The following call function will crash

In [147]:
try:
    smallest_item(list())
except IndexError as inderr:
    print('Code returned the error {}'.format(inderr))

Code returned the error list index out of range

In [148]:
try:
    def smallest_item_with_assert(list_item : list) -> Any :
        assert list_item, "*** WARNING : Empty list is not accepted !"
        return sorted(list_item)[0]
except NameError as namerr:
    print('Code returned the error {}'.format(namerr))

In [151]:
try:
    smallest_item_with_assert(list())
except Exception as exception:
    print('Code returned the error {}'.format(exception))

Code returned the error *** WARNING : Empty list is not accepted !